.columnsChecks {
  display: inline-block !important;
  margin-top: 5px !important;
  box-sizing: border-box !important;
  width: auto !important;
  min-width: 113px !important;
  padding-top: 0 !important;
}