//Titulos genericos para todos los elementos

%defaultFont {
  font-family: var(--firaSans);
  font-size: var(--font-xs);
  line-height: 130%;
  font-weight: var(--fw-regular);
  text-align: left;
  font-style: normal;
  color: var(--text-color);
}
