<div class="smart-formElement--{{config.orientation}}"    [formGroup]="group" *ngIf="!config.isHidden">
  <label
    *ngIf="config.label"
    [htmlFor]="config.textfieldAccess"
    class="smart-formElement__label"
    >{{ config.label }}
    <span
      *ngIf="config.additionalLabel"
      class="smart-formElement__additionalLabel"
      >{{ config.additionalLabel }}</span
    ></label
  >
  <div
    [class]="validateInputClass(false)"
    [ngClass]="{
      'smart-textField__disabledState': isEditableField,
      'smart-filledOut': isFilledOut
    }"
  >
    <div class="smart-leftIconTextfield">
      <img
        class="smart-textField__innerIcon__icon"
        src="{{ config.trailingIcon }}"
        alt="innerIcon"
        *ngIf="config.trailingIcon"
      />
    </div>
    <div class="smart-leftIconTextfield"
    *ngIf="config.icon ">
      <img  class="icon-input"
        src="./assets/icons/default-icons/{{config.icon}}.svg"
      />
  </div>
    <input
      #input
      [formControlName]="config.name"
      autocomplete="off"
      [type]="type"
      [attr.placeholder]="config.placeholder ? config.placeholder : null"
      (keypress)="focusCaret($event)"
      (keyup)="action($event)"
      (input)="verifyInput()"
      (blur)="action($event)"
      [name]="config.name"
      [form]="group"
      [ccMaxLength]="config.maxValue ? config.maxValue : 40"
      [ccRestrict]="config.restrict"
      [attr.inputmode]="inputmode ? inputmode : null"
      [value]="localInputValue"
      [attr.disabled]="config.disabled ? config.disabled : null"
      [id]="config.textfieldAccess"
    />

    <button
      class="smart-textField__buttonAction"
      name="davEditTextfield"
      *ngIf="showIcon"
      (click)="onActionTextfield(); onEmitButtonAction.emit()"
    >
      <img [src]="icon" alt="editar" />
    </button>
  </div>
</div>

<p *ngIf="config.directionHelper" class="smart-directionHelper">
  {{ config.directionHelper }}
</p>
