<main class="smart-container ">
    <mbass-mobile-layout [buttonSmart]="true" [buttonHead]="true" [buttonContent]="true">
      <div head>
        <h2>SMART JUNGLE</h2>
      </div>
      <div class="smart-formContainer" content>
              <!-- <title> -->
      <div class="px-16px">
        <h2
          class="mbass-title--lg pb-16px"
        > Recuperacion de contraseña</h2>
        <h3
          class="mbass-subtitle--xxs"
        >Escribe tu correo y te enviaremos un link de Recuperación.</h3>
      </div>

        <mbaas-content-box [padding]="16">
  
          <mbaas-form-container #FormResetPassword [config]="inputResetPassword">
          </mbaas-form-container>
  

          <div class="pt-32px">
            <mbaas-button-container>
              <mbaas-button [disabled]="disableButton" (click)="onCall(getDataToResetPassword())"> Enviar</mbaas-button>
            </mbaas-button-container>
          </div>
        </mbaas-content-box>
      </div>
  
      <div footer>
      </div>
      
    </mbass-mobile-layout>
  </main>