
// =============================================================================
// Size - variables
// =============================================================================

$font__size: 14 !default;
$font__base: 25 !default;

// =============================================================================
// Font family - variables
// =============================================================================

$bodyFont__family: "Roboto";
$headingsFont__family: "Roboto Condensed";

// =============================================================================
// Color variables
// =============================================================================

$blanco-f8: #F8F8F8;
$blanco-ff: #FFF;
$blanco-f1: #f1f1f1;
$blanco-e5: #e5e5e5;



$gris-eb:#ebecf0;
$gris-ed: #ededed;
$gris-93: #939393;
$gris-70: #707070;
$gris-3a: #3A3A3A;
$gris-cc: #cccccc;
$gris-e8: #E8E8E8;
$gris-9d: #9d9d9d;
$gris-6d: #6d6d71;


$negro-00: #000000;
$negro-44: #444444;
$negro-57: #575757;
$negro-5c: #5c5c5c;
$negro-middle: #817F7F;

$rojo: #dd141d;
$rojo-c7: #c7121a;
$rojo-ad: #ad0000;



// =============================================================================
// Convert pixels to ems - Function
// =============================================================================

@function em($px, $base: $font__size){
  @return(calc($px / $base)) * 1em;
}

// =============================================================================
// Import prefixes - mixin
// =============================================================================

@import '../prefixes/_prefixes';

// =============================================================================
// Import media querys - mixin
// =============================================================================

@import '../mediaquerys/_mediaquerys';
