.copy-right-sec {
	padding: 1.8rem;
	background: #277312;
	color:  #fff;
	text-align: center;
  position: relative;
  z-index: 9;
	a {
		color: #fff;
		font-weight: 500;
	}
}
.copy-right-link {
  color: #fff !important;
  font-weight: 700  !important;;
}
  /* footer section end */
