// funete para pasword
@font-face {
	font-family: 'fontello';
	src: url('../../fonts/fontello/fontello.eot?0000');
	src: url('../../fonts/fontello/fontello.eot?0000#iefix') format('embedded-opentype'),
	     url('../../fonts/fontello/fontello.woff2?0000') format('woff2'),
	     url('../../fonts/fontello/fontello.woff?0000') format('woff'),
	     url('../../fonts/fontello/fontello.ttf?0000') format('truetype'),
	     url('../../fonts/fontello/fontello.svg?0000#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
