<div class="header">
  <a href="#default" class="logo">Configuración de Maestros</a>
  <div class="header-right">
    <!-- <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a> -->
  </div>
</div>


<div class="container">
  <div class="panel panel-default">
      <div class="panel-heading">
          <h1>HTML Tables</h1>
      </div>
      <div class="panel-body">
          <table class="table-latitude">
               <caption>Employee Information</caption>
                <thead>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>E-mail</th>
              </thead>
              <tfoot>
                  <tr>
                      <td colspan=3>Contact details for the Knowledge and Development Team</td>
                  </tr>
              </tfoot>
              <tbody>
                  <tr>
                      <th>Robyn</th>
                      <td>Technical Writer</td>
                      <td>robynexample.com</td>
                  </tr>
                  <tr>
                      <th>Mandy</th>
                      <td>Technical Writer</td>
                      <td>mandyexample.com</td>
                  </tr>
                  <tr>
                      <th>Kate</th>
                      <td>Communications Leader</td>
                      <td>kateexample.com</td>
                  </tr>
                  <tr>
                      <th>Steven</th>
                      <td>Technical Writer</td>
                      <td >correo</td>
                  </tr>
                  <tr>
                      <th>Sophie</th>
                      <td>Technical Writer</td>
                      <td>example.com</td>
                  </tr>
                  <tr>
                      <th>Ashur</th>
                      <td>Intranet Administrator</td>
                      <td>example.com</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
