
// =============================================================================
// Size - variables
// =============================================================================

$font__size: 14 !default;
$font__base: 25 !default;

// =============================================================================
// Font family - variables
// =============================================================================

$bodyFont__family: "Fira Sans";
$headingsFont__family: "Roboto Condensed";

// =============================================================================
// Color variables
// =============================================================================

$blanco-f8: #F8F8F8;
$gris-ed: #ededed;
$gris-180: rgb(180, 180, 180);
$gris-93: #939393;
$gris-70: #2f3032;
$gris-3a: #3A3A3A;
$gris-cc: #cccccc;
$gris-e8: #E8E8E8;

$negro-00: #000000;
$negro-44: #444444;
$negro-57: #575757;
$negro-5c: #5c5c5c;
$negro-middle: #817F7F;
$rojo: #dd141d;
$verde-check: #55AB37;

// =============================================================================
// Convert pixels to ems - Function
// =============================================================================

@function em($px, $base: $font__size){
  @return(calc($px / $base)) * 1em;
}

// =============================================================================
// Import prefixes - mixin
// =============================================================================

@import '../prefixes/_prefixes';

// =============================================================================
// Import media querys - mixin
// =============================================================================

@import '../mediaquerys/_mediaquerys';
