.smart-container {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 536px;
  margin: 0 auto;
  padding: 0;
  // text-align: center;
  position: relative;

  &--fluid{
    @extend .smart-container;
    margin-bottom: 150px;
  }
}
