@import "../scss/globals/texts";
@import "../scss/mixins";

%davCheckbox {
    display: block;
    position: relative;
    padding-left: 24px;
    padding-top: 1px;
    margin-bottom: 16px;
    cursor: pointer;
    @extend %defaultFont;
    &:last-of-type {
        margin-bottom: 0;
    }
}
%indicator {
    position: absolute;
    top: 3px;
    left: 0;
    height: 16px;
    width: 16px;
    @include prefix((
        border: 1px solid var(--borer-checkbox),
        appearance: none
    ), webkit moz ms o);
    background-color: var(--background-checkbox);
    border-radius: 2.5px;
    transition-duration: .2s;
}
.smart-{
    &checkboxContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px !important;

        a{
            display: inline;
            text-decoration: underline;
            @extend %defaultFont;
            // font-weight: var(--fw-medium);
        }
    }

    &checkbox{

        text-align: left;
        @extend %davCheckbox;

        // a{
        //     display: inline;
        //     text-decoration: underline;
        //     @extend %defaultFont;
        //     font-weight: var(--fw-medium);
        // }

        &__indicator {
            @extend %indicator;

            &--undefined {
                @extend %indicator;

                &::before{
                    content: '';
                    position: absolute;
                    left: 2px;
                    bottom: 6px;
                    width: 10px;
                    height: 1.8px;
                    border-radius: 2px;
                    background-color: var(--gray-b8);
                }
            }
        }

        input[type="checkbox"] {
            opacity: 0;
            display: none;

            &:checked {
                &~.smart-checkbox__indicator {
                    background-color: var(--green-primary);
                    @include prefix((
                        border: 1px solid var(--green-primary),
                        appearance: none
                    ), webkit moz ms o);

                    &::before{
                        width: 12px;
                        height: 12px;
                        content: '';
                        position: absolute;
                        background-image: url(/src/assets/icons/icon-tick-checkbox.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 1px;
                        bottom: 0;
                        margin: auto;
                    }
                }
                &~.smart-checkbox__indicator--undefined {

                    &::before{
                        content: '';
                        width: 10px;
                        height: 1.8px;
                        background-color: var(--gray-b8);
                        border-radius: 2px;
                        position: absolute;
                        left: 2px;
                        bottom: 6px;
                    }
                }
            }
            &:disabled~.smart-checkbox__indicator {
                opacity: 60%;
                cursor: not-allowed;
            }

            &:checked:disabled~.smart-checkbox__indicator {
                opacity: 60%;
            }

        }
    }
}
